In [1]:
!pip install pandas
!pip install numpy
!pip install sklearn
!pip install seaborn
!pip install statsmodels
!pip install matplotlib

Requirement already satisfied: pandas in /srv/conda/lib/python3.6/site-packages (0.23.4)
Requirement already satisfied: numpy>=1.9.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (1.15.4)
Requirement already satisfied: pytz>=2011k in /srv/conda/lib/python3.6/site-packages (from pandas) (2018.7)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (2.7.5)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
Requirement already satisfied: numpy in /srv/conda/lib/python3.6/site-packages (1.15.4)
Requirement already satisfied: sklearn in /srv/conda/lib/python3.6/site-packages (0.0)
Requirement already satisfied: scikit-learn in /srv/conda/lib/python3.6/site-packages (from sklearn) (0.20.1)
Requirement already satisfied: scipy>=0.13.3 in /srv/conda/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.8.2 in /srv/conda/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.15.4)
Requirement already satisfied: seaborn in /srv/conda/lib/python3.6/site-packages (0.9.0)
Requirement already satisfied: matplotlib>=1.4.3 in /srv/conda/lib/python3.6/site-packages (from seaborn) (3.0.2)
Requirement already satisfied: numpy>=1.9.3 in /srv/conda/lib/python3.6/site-packages (from seaborn) (1.15.4)
Requirement already satisfied: scipy>=0.14.0 in /srv/conda/lib/python3.6/site-packages (from seaborn) (1.1.0)
Requirement already satisfied: pandas>=0.15.2 in /srv/conda/lib/python3.6/site-packages (from seaborn) (0.23.4)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn) (2.7.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn) (2.3.0)
Requirement already satisfied: cycler>=0.10 in /srv/conda/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn) (1.0.1)
Requirement already satisfied: pytz>=2011k in /srv/conda/lib/python3.6/site-packages (from pandas>=0.15.2->seaborn) (2018.7)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib>=1.4.3->seaborn) (1.11.0)
Requirement already satisfied: setuptools in /srv/conda/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (40.5.0)
Collecting statsmodels
  Downloading https://files.pythonhosted.org/packages/85/d1/69ee7e757f657e7f527cbf500ec2d295396e5bcec873cf4eb68962c41024/statsmodels-0.9.0-cp36-cp36m-manylinux1_x86_64.whl (7.4MB)
    100% |████████████████████████████████| 7.4MB 1.6MB/s eta 0:00:01
Requirement already satisfied: pandas in /srv/conda/lib/python3.6/site-packages (from statsmodels) (0.23.4)
Collecting patsy (from statsmodels)
  Downloading https://files.pythonhosted.org/packages/ea/0c/5f61f1a3d4385d6bf83b83ea495068857ff8dfb89e74824c6e9eb63286d8/patsy-0.5.1-py2.py3-none-any.whl (231kB)
    100% |████████████████████████████████| 235kB 35.9MB/s ta 0:00:01
Requirement already satisfied: pytz>=2011k in /srv/conda/lib/python3.6/site-packages (from pandas->statsmodels) (2018.7)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.6/site-packages (from pandas->statsmodels) (2.7.5)
Requirement already satisfied: numpy>=1.9.0 in /srv/conda/lib/python3.6/site-packages (from pandas->statsmodels) (1.15.4)
Requirement already satisfied: six in /srv/conda/lib/python3.6/site-packages (from patsy->statsmodels) (1.11.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.1 statsmodels-0.9.0
Requirement already satisfied: matplotlib in /srv/conda/lib/python3.6/site-packages (3.0.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/lib/python3.6/site-packages (from matplotlib) (2.3.0)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/lib/python3.6/site-packages (from matplotlib) (2.7.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/lib/python3.6/site-packages (from matplotlib) (1.0.1)
Requirement already satisfied: numpy>=1.10.0 in /srv/conda/lib/python3.6/site-packages (from matplotlib) (1.15.4)
Requirement already satisfied: cycler>=0.10 in /srv/conda/lib/python3.6/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib) (1.11.0)
Requirement already satisfied: setuptools in /srv/conda/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib) (40.5.0)

In [2]:
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np

another reference: http://blog.yhat.com/posts/logistic-regression-and-python.html

In [13]:
#titanic = sns.load_dataset('titanic')
df1 = pd.read_csv('https://raw.githubusercontent.com/LaGuer/JupyterDataScienceWorkflow/master/dataset/oecd-CRSW-crop-production.csv')
#df = pd.read_csv('https://raw.githubusercontent.com/LaGuer/JupyterDataScienceWorkflow/master/dataset/CRSW-AMIS.csv')
#df.head()

In [25]:
titanic = sns.load_dataset('titanic')
titanic.head()
# df = sns.load_dataset('/data/oecd-CRSW-crop-production.csv')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16240 entries, 0 to 16239
Data columns (total 8 columns):
LOCATION      16240 non-null object
INDICATOR     16240 non-null object
SUBJECT       16240 non-null object
MEASURE       16240 non-null object
FREQUENCY     16240 non-null object
TIME          16240 non-null int64
Value         16240 non-null float64
Flag Codes    0 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 1015.1+ KB

In [39]:
#model = smf.logit('SUBJECT ~ LOCATION + TIME + Value + INDICATOR + MEASURE + FREQUENCY',
#                 data = df1)
#results = model.fit()
#results.summary()

model = smf.logit('survived ~ sex + age + fare + deck',
                 data = titanic)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.406942
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  184
Model:                          Logit   Df Residuals:                      174
Method:                           MLE   Df Model:                            9
Date:                Thu, 13 Dec 2018   Pseudo R-squ.:                  0.3513
Time:                        14:48:32   Log-Likelihood:                -74.877
converged:                       True   LL-Null:                       -115.43
                                        LLR p-value:                 9.707e-14
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       5.5057      1.163      4.736      0.000       3.227       7.784
sex[T.male]    -3.4464      0.590     -5.836      0.000      -4.604      -2.289
deck[T.B]      -0.7764      0.832     -0.934      0.351      -2.406       0.854
deck[T.C]      -1.7126      0.808     -2.121      0.034      -3.295      -0.130
deck[T.D]      -0.6292      0.837     -0.752      0.452      -2.270       1.012
deck[T.E]      -0.1741      0.816     -0.213      0.831      -1.774       1.426
deck[T.F]      -1.5135      1.087     -1.392      0.164      -3.644       0.617
deck[T.G]      -4.9029      1.457     -3.364      0.001      -7.759      -2.046
age            -0.0430      0.015     -2.946      0.003      -0.072      -0.014
fare            0.0023      0.003      0.789      0.430      -0.003       0.008
===============================================================================
"""

In [41]:
# interpret results
np.exp(results.params)

Intercept      246.087067
sex[T.male]      0.031860
deck[T.B]        0.460038
deck[T.C]        0.180390
deck[T.D]        0.532997
deck[T.E]        0.840224
deck[T.F]        0.220138
deck[T.G]        0.007425
age              0.957889
fare             1.002292
dtype: float64

In [40]:
np.exp(results.conf_int())

                     0            1
Intercept    25.205184  2402.634534
sex[T.male]   0.010014     0.101363
deck[T.B]     0.090132     2.348053
deck[T.C]     0.037055     0.878167
deck[T.D]     0.103279     2.750650
deck[T.E]     0.169594     4.162737
deck[T.F]     0.026152     1.853020
deck[T.G]     0.000427     0.129203
age           0.930859     0.985705
fare          0.996609     1.008008