In [ ]:
!pip install pandas
!pip install sklearn
!pip install matplotlib

In [1]:
import pandas as pd

In [2]:
pew = pd.read_csv('https://raw.githubusercontent.com/LaGuer/JupyterDataScienceWorkflow/master/dataset/ag_prd_crel_mt.csv')

In [3]:
pew

,country,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,3700000.0,3700000.0,3380000.0,3730000.0,3790000.0,3490000.0,3830000.0,3920000.0,4040000.0,...,5790000.0,3950000.0,6510000.0,5960000.0,4680000.0,6380000.0,6520000.0,6750000.0,5810000.0,5540000.0
1,Albania,294000.0,314000.0,293000.0,350000.0,335000.0,433000.0,487000.0,502000.0,529000.0,...,494000.0,609000.0,631000.0,694000.0,701000.0,697000.0,703000.0,700000.0,695000.0,698000.0
2,Algeria,938000.0,2370000.0,2320000.0,1490000.0,1740000.0,776000.0,1640000.0,2130000.0,1850000.0,...,3600000.0,1540000.0,5250000.0,4210000.0,4250000.0,5140000.0,4910000.0,3440000.0,3760000.0,3450000.0
3,Angola,544000.0,543000.0,515000.0,564000.0,562000.0,502000.0,515000.0,526000.0,648000.0,...,781000.0,755000.0,1060000.0,1180000.0,1410000.0,510000.0,1670000.0,1820000.0,2020000.0,1640000.0
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,30.0,18.0,30.0,45.0,...,65.0,68.0,66.0,64.0,72.0,70.0,72.0,74.0,75.0,76.0
5,Argentina,14500000.0,14000000.0,17300000.0,20800000.0,13800000.0,17300000.0,19600000.0,16300000.0,18500000.0,...,42400000.0,44700000.0,26000000.0,40300000.0,50700000.0,47400000.0,50700000.0,55900000.0,55700000.0,67000000.0
6,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,448000.0,409000.0,369000.0,322000.0,435000.0,451000.0,544000.0,575000.0,596000.0,599000.0
7,Australia,9150000.0,11100000.0,11800000.0,13000000.0,9680000.0,16600000.0,9870000.0,18900000.0,14300000.0,...,17800000.0,26900000.0,34100000.0,33500000.0,40000000.0,43400000.0,35600000.0,38400000.0,37200000.0,35200000.0
8,Austria,2270000.0,2310000.0,2230000.0,2350000.0,2020000.0,2650000.0,2930000.0,3050000.0,3410000.0,...,4770000.0,5760000.0,5160000.0,4870000.0,5710000.0,4880000.0,4600000.0,5720000.0,4850000.0,5700000.0
9,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1940000.0,2420000.0,2900000.0,1930000.0,2370000.0,2710000.0,2860000.0,2300000.0,2900000.0,2970000.0
10,Bahamas,100.0,150.0,200.0,250.0,300.0,430.0,450.0,470.0,490.0,...,400.0,500.0,600.0,678.0,687.0,690.0,633.0,438.0,288.0,164.0
11,Bangladesh,14500000.0,13400000.0,16000000.0,15800000.0,15900000.0,14500000.0,16900000.0,17200000.0,18200000.0,...,44800000.0,48900000.0,49700000.0,51900000.0,52600000.0,52800000.0,54300000.0,55800000.0,54900000.0,56400000.0
12,Barbados,716.0,899.0,708.0,508.0,560.0,830.0,1000.0,1450.0,1750.0,...,280.0,269.0,262.0,259.0,269.0,320.0,340.0,81.0,122.0,96.0
13,Belarus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7030000.0,8730000.0,8170000.0,6740000.0,8000000.0,8850000.0,7230000.0,9030000.0,8190000.0,7080000.0
14,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2720000.0,3110000.0,3260000.0,3040000.0,2940000.0,2960000.0,3100000.0,3160000.0,3160000.0,2290000.0
15,Belize,4850.0,3250.0,3860.0,5080.0,5820.0,4480.0,8330.0,9890.0,11200.0,...,70200.0,59500.0,87300.0,98500.0,91800.0,91600.0,112000.0,94500.0,81000.0,91600.0
16,Benin,290000.0,287000.0,279000.0,295000.0,287000.0,262000.0,314000.0,292000.0,275000.0,...,1160000.0,1270000.0,1510000.0,1330000.0,1540000.0,1580000.0,1790000.0,1710000.0,1640000.0,1810000.0
17,Bhutan,98400.0,101000.0,104000.0,107000.0,110000.0,113000.0,116000.0,120000.0,123000.0,...,191000.0,166000.0,144000.0,145000.0,184000.0,168000.0,160000.0,167000.0,167000.0,169000.0
18,Bolivia,411000.0,418000.0,450000.0,381000.0,455000.0,435000.0,430000.0,481000.0,503000.0,...,1730000.0,2050000.0,2380000.0,2130000.0,1990000.0,2130000.0,2500000.0,2450000.0,2930000.0,2670000.0
19,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1000000.0,1370000.0,1390000.0,1100000.0,1120000.0,906000.0,1220000.0,1080000.0,1140000.0,1660000.0
20,Botswana,62200.0,16900.0,18600.0,11500.0,11600.0,35500.0,65500.0,25900.0,50100.0,...,31300.0,36800.0,55400.0,50300.0,74000.0,37500.0,19400.0,50200.0,43600.0,44800.0
21,Brazil,15000000.0,15900000.0,16600000.0,16500000.0,20400000.0,17900000.0,20300000.0,20400000.0,20500000.0,...,69400000.0,79700000.0,70900000.0,75200000.0,77600000.0,89900000.0,101000000.0,101000000.0,106000000.0,84100000.0
22,Brunei,4910.0,5250.0,3870.0,3440.0,2950.0,3410.0,5520.0,5520.0,6780.0,...,983.0,911.0,891.0,1070.0,1480.0,1760.0,1240.0,1270.0,1580.0,1670.0
23,Bulgaria,4400000.0,4470000.0,4510000.0,5230000.0,5310000.0,6820000.0,6530000.0,5290000.0,6080000.0,...,4200000.0,7020000.0,6240000.0,7140000.0,7520000.0,6990000.0,9150000.0,9530000.0,8570000.0,8750000.0
24,Burkina Faso,726000.0,895000.0,918000.0,1010000.0,953000.0,1000000.0,1040000.0,1080000.0,1040000.0,...,3110000.0,4360000.0,3630000.0,4560000.0,3670000.0,4900000.0,4870000.0,4470000.0,4190000.0,4740000.0
25,Burundi,130000.0,129000.0,130000.0,149000.0,148000.0,152000.0,155000.0,165000.0,162000.0,...,302000.0,298000.0,311000.0,323000.0,338000.0,257000.0,254000.0,237000.0,251000.0,441000.0
26,Cambodia,2560000.0,2190000.0,2810000.0,2960000.0,2640000.0,2510000.0,2610000.0,3410000.0,2620000.0,...,7250000.0,7790000.0,8510000.0,9020000.0,9500000.0,10200000.0,10300000.0,9870000.0,9740000.0,10200000.0
27,Cameroon,704000.0,689000.0,701000.0,694000.0,673000.0,726000.0,631000.0,644000.0,788000.0,...,2370000.0,2470000.0,2820000.0,3010000.0,2990000.0,3230000.0,3200000.0,3360000.0,3660000.0,3960000.0
28,Canada,16700000.0,29300000.0,34100000.0,28500000.0,32200000.0,38700000.0,30100000.0,34400000.0,35900000.0,...,48000000.0,56000000.0,49700000.0,45800000.0,47700000.0,51800000.0,66400000.0,51500000.0,53400000.0,55300000.0
29,Cape Verde,13000.0,13000.0,13000.0,13000.0,17000.0,19000.0,22000.0,11000.0,7000.0,...,4430.0,8040.0,7380.0,7050.0,5570.0,6000.0,5790.0,1070.0,8680.0,5640.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Sri Lanka,952000.0,1060000.0,1080000.0,1100000.0,795000.0,1010000.0,1190000.0,1390000.0,1410000.0,...,3190000.0,4020000.0,3790000.0,4470000.0,4040000.0,4050000.0,4840000.0,3630000.0,4180000.0,4400000.0
147,St. Lucia,50.0,50.0,30.0,18.0,20.0,30.0,30.0,25.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,St. Vincent and the Grenadines,400.0,400.0,400.0,400.0,400.0,420.0,420.0,430.0,430.0,...,670.0,700.0,670.0,582.0,691.0,854.0,575.0,857.0,775.0,866.0
149,Sudan,1680000.0,1620000.0,1790000.0,1560000.0,1420000.0,1180000.0,2450000.0,1240000.0,2000000.0,...,6690000.0,5270000.0,5550000.0,3560000.0,5600000.0,3030000.0,5950000.0,8060000.0,4090000.0,8510000.0
150,Suriname,72800.0,80300.0,75600.0,89300.0,101000.0,98700.0,120000.0,116000.0,114000.0,...,179000.0,183000.0,229000.0,227000.0,235000.0,224000.0,262000.0,276000.0,269000.0,278000.0
151,Sweden,3890000.0,3630000.0,3510000.0,4460000.0,4400000.0,3510000.0,4550000.0,4910000.0,3980000.0,...,5060000.0,5200000.0,5240000.0,4280000.0,4660000.0,5060000.0,4990000.0,5780000.0,6160000.0,5450000.0
152,Switzerland,518000.0,697000.0,515000.0,632000.0,558000.0,567000.0,673000.0,653000.0,640000.0,...,1010000.0,1000000.0,1010000.0,924000.0,999000.0,951000.0,867000.0,994000.0,909000.0,743000.0
153,Syria,1140000.0,2240000.0,2030000.0,1790000.0,1790000.0,789000.0,1690000.0,1170000.0,1660000.0,...,5010000.0,2680000.0,4740000.0,3900000.0,4830000.0,4600000.0,4210000.0,2700000.0,2900000.0,3620000.0
154,Tajikistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,907000.0,910000.0,1400000.0,1380000.0,1030000.0,1180000.0,1330000.0,1260000.0,1320000.0,1370000.0
155,Tanzania,1020000.0,1030000.0,1380000.0,1130000.0,1120000.0,1350000.0,1160000.0,985000.0,1090000.0,...,6400000.0,7650000.0,5810000.0,8640000.0,7960000.0,8120000.0,8870000.0,10800000.0,10000000.0,10100000.0
156,Thailand,10800000.0,11900000.0,13000000.0,12600000.0,12300000.0,14800000.0,12500000.0,13800000.0,15200000.0,...,36700000.0,36600000.0,37300000.0,40900000.0,43400000.0,43400000.0,42000000.0,37800000.0,32800000.0,30400000.0
157,Timor-Leste,34300.0,35300.0,32400.0,28100.0,24800.0,27400.0,31600.0,34700.0,28500.0,...,132000.0,180000.0,255000.0,262000.0,148000.0,182000.0,188000.0,191000.0,214000.0,196000.0
158,Togo,174000.0,186000.0,220000.0,228000.0,237000.0,303000.0,247000.0,245000.0,234000.0,...,878000.0,935000.0,1060000.0,1050000.0,1060000.0,1270000.0,1310000.0,1310000.0,1250000.0,1260000.0
159,Trinidad and Tobago,12600.0,13300.0,13200.0,13100.0,12200.0,12000.0,12500.0,12200.0,11500.0,...,6160.0,6180.0,5230.0,5460.0,6110.0,5620.0,6280.0,6170.0,5100.0,5050.0
160,Tunisia,562000.0,814000.0,1190000.0,922000.0,1140000.0,813000.0,683000.0,813000.0,632000.0,...,2030000.0,1220000.0,2570000.0,1110000.0,2340000.0,2310000.0,1330000.0,2350000.0,1340000.0,1320000.0
161,Turkey,12700000.0,14700000.0,17500000.0,14500000.0,14800000.0,16500000.0,17000000.0,16000000.0,17200000.0,...,29300000.0,29300000.0,33600000.0,32800000.0,35200000.0,33400000.0,37500000.0,32700000.0,38600000.0,35300000.0
162,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1120000.0,1030000.0,1450000.0,1540000.0,1200000.0,1390000.0,1810000.0,1410000.0,1620000.0,1800000.0
163,Uganda,895000.0,902000.0,913000.0,923000.0,1060000.0,1070000.0,1080000.0,1290000.0,1620000.0,...,2630000.0,3130000.0,3200000.0,3270000.0,3500000.0,3550000.0,3510000.0,3560000.0,3440000.0,3480000.0
164,Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28900000.0,52700000.0,45400000.0,38700000.0,56300000.0,45700000.0,62700000.0,63400000.0,59600000.0,65200000.0
165,United Arab Emirates,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1860.0,2380.0,3450.0,5370.0,4080.0,3950.0,979.0,2790.0,3910.0,3630.0
166,United Kingdom,9720000.0,11800000.0,11400000.0,12800000.0,13700000.0,13400000.0,14600000.0,13100000.0,13600000.0,...,19100000.0,24300000.0,21600000.0,20900000.0,21500000.0,19500000.0,20100000.0,24500000.0,24700000.0,22000000.0
167,United States,164000000.0,162000000.0,175000000.0,161000000.0,184000000.0,184000000.0,208000000.0,203000000.0,205000000.0,...,415000000.0,402000000.0,419000000.0,401000000.0,386000000.0,356000000.0,434000000.0,443000000.0,432000000.0,476000000.0
168,Uruguay,751000.0,765000.0,597000.0,915000.0,878000.0,711000.0,451000.0,796000.0,839000.0,...,2680000.0,3600000.0,4250000.0,3340000.0,4440000.0,3570000.0,4060000.0,3560000.0,3730000.0,3600000.0
169,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6750000.0,6700000.0,7380000.0,7470000.0,7060000.0,7430000.0,7700000.0,7890000.0,8010000.0,7900000.0
170,Vanuatu,350.0,350.0,350.0,350.0,350.0,330.0,350.0,380.0,400.0,...,800.0,820.0,820.0,823.0,831.0,800.0,950.0,894.0,885.0,896.0
171,Venezuela,501000.0,644000.0,562000.0,644000.0,726000.0,764000.0,874000.0,928000.0,920000.0,...,4010000.0,4110000.0,3710000.0,3660000.0,3430000.0,3310000.0,3690000.0,3600000.0,2290000.0,1780000.0
172,Vietnam,9290000.0,10100000.0,9880000.0,10000000.0,9690000.0,8720000.0,9440000.0,8630000.0,9090000.0,...,40200000.0,43300000.0,43300000.0,44600000.0,47200000.0,48700000.0,49200000.0,50200000.0,50400000.0,48700000.0
173,Yemen,938000.0,963000.0,979000.0,1000000.0,996000.0,918000.0,910000.0,894000.0,892000.0,...,1030000.0,714000.0,674000.0,1010000.0,817000.0,910000.0,863000.0,700000.0,459000.0,793000.0
174,Zambia,767000.0,749000.0,677000.0,773000.0,816000.0,892000.0,893000.0,823000.0,831000.0,...,1540000.0,1400000.0,2200000.0,3100000.0,3370000.0,3200000.0,2900000.0,3660000.0,2910000.0,3110000.0
175,Zimbabwe,1270000.0,1230000.0,1030000.0,1030000.0,1130000.0,1210000.0,1900000.0,1250000.0,1930000.0,...,1860000.0,693000.0,874000.0,1390000.0,1170000.0,1280000.0,1150000.0,1240000.0,800000.0,1050000.0

In [4]:
pd.melt(pew, id_vars='country')

                             country variable        value
0                        Afghanistan     1961    3700000.0
1                            Albania     1961     294000.0
2                            Algeria     1961     938000.0
3                             Angola     1961     544000.0
4                Antigua and Barbuda     1961          NaN
5                          Argentina     1961   14500000.0
6                            Armenia     1961          NaN
7                          Australia     1961    9150000.0
8                            Austria     1961    2270000.0
9                         Azerbaijan     1961          NaN
10                           Bahamas     1961        100.0
11                        Bangladesh     1961   14500000.0
12                          Barbados     1961        716.0
13                           Belarus     1961          NaN
14                           Belgium     1961          NaN
15                            Belize     1961       4850.0
16                             Benin     1961     290000.0
17                            Bhutan     1961      98400.0
18                           Bolivia     1961     411000.0
19            Bosnia and Herzegovina     1961          NaN
20                          Botswana     1961      62200.0
21                            Brazil     1961   15000000.0
22                            Brunei     1961       4910.0
23                          Bulgaria     1961    4400000.0
24                      Burkina Faso     1961     726000.0
25                           Burundi     1961     130000.0
26                          Cambodia     1961    2560000.0
27                          Cameroon     1961     704000.0
28                            Canada     1961   16700000.0
29                        Cape Verde     1961      13000.0
...                              ...      ...          ...
9826                       Sri Lanka     2016    4400000.0
9827                       St. Lucia     2016          NaN
9828  St. Vincent and the Grenadines     2016        866.0
9829                           Sudan     2016    8510000.0
9830                        Suriname     2016     278000.0
9831                          Sweden     2016    5450000.0
9832                     Switzerland     2016     743000.0
9833                           Syria     2016    3620000.0
9834                      Tajikistan     2016    1370000.0
9835                        Tanzania     2016   10100000.0
9836                        Thailand     2016   30400000.0
9837                     Timor-Leste     2016     196000.0
9838                            Togo     2016    1260000.0
9839             Trinidad and Tobago     2016       5050.0
9840                         Tunisia     2016    1320000.0
9841                          Turkey     2016   35300000.0
9842                    Turkmenistan     2016    1800000.0
9843                          Uganda     2016    3480000.0
9844                         Ukraine     2016   65200000.0
9845            United Arab Emirates     2016       3630.0
9846                  United Kingdom     2016   22000000.0
9847                   United States     2016  476000000.0
9848                         Uruguay     2016    3600000.0
9849                      Uzbekistan     2016    7900000.0
9850                         Vanuatu     2016        896.0
9851                       Venezuela     2016    1780000.0
9852                         Vietnam     2016   48700000.0
9853                           Yemen     2016     793000.0
9854                          Zambia     2016    3110000.0
9855                        Zimbabwe     2016    1050000.0

[9856 rows x 3 columns]

In [5]:
pd.melt(pew, id_vars='country',
        var_name='1961', value_name='count')

                             country  1961        count
0                        Afghanistan  1961    3700000.0
1                            Albania  1961     294000.0
2                            Algeria  1961     938000.0
3                             Angola  1961     544000.0
4                Antigua and Barbuda  1961          NaN
5                          Argentina  1961   14500000.0
6                            Armenia  1961          NaN
7                          Australia  1961    9150000.0
8                            Austria  1961    2270000.0
9                         Azerbaijan  1961          NaN
10                           Bahamas  1961        100.0
11                        Bangladesh  1961   14500000.0
12                          Barbados  1961        716.0
13                           Belarus  1961          NaN
14                           Belgium  1961          NaN
15                            Belize  1961       4850.0
16                             Benin  1961     290000.0
17                            Bhutan  1961      98400.0
18                           Bolivia  1961     411000.0
19            Bosnia and Herzegovina  1961          NaN
20                          Botswana  1961      62200.0
21                            Brazil  1961   15000000.0
22                            Brunei  1961       4910.0
23                          Bulgaria  1961    4400000.0
24                      Burkina Faso  1961     726000.0
25                           Burundi  1961     130000.0
26                          Cambodia  1961    2560000.0
27                          Cameroon  1961     704000.0
28                            Canada  1961   16700000.0
29                        Cape Verde  1961      13000.0
...                              ...   ...          ...
9826                       Sri Lanka  2016    4400000.0
9827                       St. Lucia  2016          NaN
9828  St. Vincent and the Grenadines  2016        866.0
9829                           Sudan  2016    8510000.0
9830                        Suriname  2016     278000.0
9831                          Sweden  2016    5450000.0
9832                     Switzerland  2016     743000.0
9833                           Syria  2016    3620000.0
9834                      Tajikistan  2016    1370000.0
9835                        Tanzania  2016   10100000.0
9836                        Thailand  2016   30400000.0
9837                     Timor-Leste  2016     196000.0
9838                            Togo  2016    1260000.0
9839             Trinidad and Tobago  2016       5050.0
9840                         Tunisia  2016    1320000.0
9841                          Turkey  2016   35300000.0
9842                    Turkmenistan  2016    1800000.0
9843                          Uganda  2016    3480000.0
9844                         Ukraine  2016   65200000.0
9845            United Arab Emirates  2016       3630.0
9846                  United Kingdom  2016   22000000.0
9847                   United States  2016  476000000.0
9848                         Uruguay  2016    3600000.0
9849                      Uzbekistan  2016    7900000.0
9850                         Vanuatu  2016        896.0
9851                       Venezuela  2016    1780000.0
9852                         Vietnam  2016   48700000.0
9853                           Yemen  2016     793000.0
9854                          Zambia  2016    3110000.0
9855                        Zimbabwe  2016    1050000.0

[9856 rows x 3 columns]

In [11]:
production = pd.read_csv('https://raw.githubusercontent.com/LaGuer/JupyterDataScienceWorkflow/master/dataset/ag_prd_crel_mt.csv')

In [12]:
production.head()

,country,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,3700000.0,3700000.0,3380000.0,3730000.0,3790000.0,3490000.0,3830000.0,3920000.0,4040000.0,...,5790000.0,3950000.0,6510000.0,5960000.0,4680000.0,6380000.0,6520000.0,6750000.0,5810000.0,5540000.0
1,Albania,294000.0,314000.0,293000.0,350000.0,335000.0,433000.0,487000.0,502000.0,529000.0,...,494000.0,609000.0,631000.0,694000.0,701000.0,697000.0,703000.0,700000.0,695000.0,698000.0
2,Algeria,938000.0,2370000.0,2320000.0,1490000.0,1740000.0,776000.0,1640000.0,2130000.0,1850000.0,...,3600000.0,1540000.0,5250000.0,4210000.0,4250000.0,5140000.0,4910000.0,3440000.0,3760000.0,3450000.0
3,Angola,544000.0,543000.0,515000.0,564000.0,562000.0,502000.0,515000.0,526000.0,648000.0,...,781000.0,755000.0,1060000.0,1180000.0,1410000.0,510000.0,1670000.0,1820000.0,2020000.0,1640000.0
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,30.0,18.0,30.0,45.0,...,65.0,68.0,66.0,64.0,72.0,70.0,72.0,74.0,75.0,76.0

In [13]:
pd.melt(production,
        id_vars=['country', '1961', '1980', '2000', '2016'],
        var_name='year',
        value_name='Cereal Production in metric tons')

,country,1961,1980,2000,2016,year,Cereal Production in metric tons
0,Afghanistan,3700000.0,4070000.0,1940000.0,5540000.0,1962,3700000.0
1,Albania,294000.0,881000.0,566000.0,698000.0,1962,314000.0
2,Algeria,938000.0,2420000.0,935000.0,3450000.0,1962,2370000.0
3,Angola,544000.0,435000.0,520000.0,1640000.0,1962,543000.0
4,Antigua and Barbuda,NaN,29.0,48.0,76.0,1962,NaN
5,Argentina,14500000.0,18700000.0,38100000.0,67000000.0,1962,14000000.0
6,Armenia,NaN,NaN,217000.0,599000.0,1962,NaN
7,Australia,9150000.0,16400000.0,34400000.0,35200000.0,1962,11100000.0
8,Austria,2270000.0,4830000.0,4490000.0,5700000.0,1962,2310000.0
9,Azerbaijan,NaN,NaN,1500000.0,2970000.0,1962,NaN
10,Bahamas,100.0,719.0,312.0,164.0,1962,150.0
11,Bangladesh,14500000.0,21700000.0,39500000.0,56400000.0,1962,13400000.0
12,Barbados,716.0,2000.0,300.0,96.0,1962,899.0
13,Belarus,NaN,NaN,4580000.0,7080000.0,1962,NaN
14,Belgium,NaN,NaN,2510000.0,2290000.0,1962,NaN
15,Belize,4850.0,27400.0,47900.0,91600.0,1962,3250.0
16,Benin,290000.0,346000.0,993000.0,1810000.0,1962,287000.0
17,Bhutan,98400.0,158000.0,107000.0,169000.0,1962,101000.0
18,Bolivia,411000.0,626000.0,1240000.0,2670000.0,1962,418000.0
19,Bosnia and Herzegovina,NaN,NaN,930000.0,1660000.0,1962,NaN
20,Botswana,62200.0,45900.0,24600.0,44800.0,1962,16900.0
21,Brazil,15000000.0,33200000.0,46500000.0,84100000.0,1962,15900000.0
22,Brunei,4910.0,2750.0,299.0,1670.0,1962,5250.0
23,Bulgaria,4400000.0,7650000.0,4390000.0,8750000.0,1962,4470000.0
24,Burkina Faso,726000.0,1050000.0,2280000.0,4740000.0,1962,895000.0
25,Burundi,130000.0,217000.0,255000.0,441000.0,1962,129000.0
26,Cambodia,2560000.0,1820000.0,4180000.0,10200000.0,1962,2190000.0
27,Cameroon,704000.0,892000.0,1280000.0,3960000.0,1962,689000.0
28,Canada,16700000.0,41400000.0,51100000.0,55300000.0,1962,29300000.0
29,Cape Verde,13000.0,8500.0,24300.0,5640.0,1962,13000.0
...,...,...,...,...,...,...,...
9122,Sri Lanka,952000.0,2170000.0,2900000.0,4400000.0,2015,4180000.0
9123,St. Lucia,50.0,0.0,NaN,NaN,2015,NaN
9124,St. Vincent and the Grenadines,400.0,530.0,600.0,866.0,2015,775.0
9125,Sudan,1680000.0,2700000.0,3260000.0,8510000.0,2015,4090000.0
9126,Suriname,72800.0,258000.0,164000.0,278000.0,2015,269000.0
9127,Sweden,3890000.0,5310000.0,5600000.0,5450000.0,2015,6160000.0
9128,Switzerland,518000.0,789000.0,1170000.0,743000.0,2015,909000.0
9129,Syria,1140000.0,3880000.0,3510000.0,3620000.0,2015,2900000.0
9130,Tajikistan,NaN,NaN,545000.0,1370000.0,2015,1320000.0
9131,Tanzania,1020000.0,2960000.0,3620000.0,10100000.0,2015,10000000.0
9132,Thailand,10800000.0,20600000.0,30500000.0,30400000.0,2015,32800000.0
9133,Timor-Leste,34300.0,80000.0,139000.0,196000.0,2015,214000.0
9134,Togo,174000.0,296000.0,741000.0,1260000.0,2015,1250000.0
9135,Trinidad and Tobago,12600.0,12700.0,7230.0,5050.0,2015,5100.0
9136,Tunisia,562000.0,1200000.0,1120000.0,1320000.0,2015,1340000.0
9137,Turkey,12700000.0,24400000.0,32200000.0,35300000.0,2015,38600000.0
9138,Turkmenistan,NaN,NaN,1750000.0,1800000.0,2015,1620000.0
9139,Uganda,895000.0,1080000.0,2110000.0,3480000.0,2015,3440000.0
9140,Ukraine,NaN,NaN,23800000.0,65200000.0,2015,59600000.0
9141,United Arab Emirates,0.0,906.0,3980.0,3630.0,2015,3910.0
9142,United Kingdom,9720000.0,19500000.0,24000000.0,22000000.0,2015,24700000.0
9143,United States,164000000.0,270000000.0,343000000.0,476000000.0,2015,432000000.0
9144,Uruguay,751000.0,893000.0,1850000.0,3600000.0,2015,3730000.0
9145,Uzbekistan,NaN,NaN,4110000.0,7900000.0,2015,8010000.0
9146,Vanuatu,350.0,650.0,725.0,896.0,2015,885.0
9147,Venezuela,501000.0,1550000.0,2950000.0,1780000.0,2015,2290000.0
9148,Vietnam,9290000.0,12100000.0,34500000.0,48700000.0,2015,50400000.0
9149,Yemen,938000.0,865000.0,672000.0,793000.0,2015,459000.0
9150,Zambia,767000.0,984000.0,1210000.0,3110000.0,2015,2910000.0
9151,Zimbabwe,1270000.0,1990000.0,1960000.0,1050000.0,2015,800000.0

In [14]:
tb = pd.read_csv('https://raw.githubusercontent.com/LaGuer/JupyterDataScienceWorkflow/master/dataset/eu-ict-expenditures.csv')
tb

                                                   Grouped by Country:
Poland:                                                   4,044,000,000
Italy:                                                    3,376,000,000
Spain:                                                    2,480,000,000
Hungary:                                                  1,316,000,000
France:                                                   1,292,000,000
Czech Republic:                                           1,284,000,000
Greece:                                                   1,222,000,000
Slovakia:                                                 1,069,000,000
Romania:                                                  1,022,000,000
Portugal:                                                   753,000,000
Germany:                                                    595,000,000
Croatia:                                                    578,000,000
United Kingdom:                                             454,000,000
Bulgaria:                                                   371,000,000
Lithuania:                                                  351,000,000
Sweden:                                                     277,000,000
Estonia:                                                    223,000,000
Latvia:                                                     175,000,000
Slovenia:                                                   122,000,000
Ireland:                                                    102,000,000
Cyprus:                                                      75,000,000
Belgium:                                                     68,000,000
Finland:                                                     57,000,000
Malta:                                                       46,000,000
Austria:                                                     34,000,000
Netherlands:                                                  8,000,000
Denmark:                                                      6,000,000
Luxembourg:                                                   1,500,000
Grouped by Region:                                                  NaN
Campania (IT) :                                             676,000,000
...                                                                 ...
EAFRD - ICT in rural funds:                                 922,000,000
048 - ICT: Other types of ICT infrastructure/la...          869,000,000
045 - ICT: Backbone/backhaul network:                       360,000,000
004 - Productive investment linked to the coope...          304,000,000
096 - Institutional capacity of public administ...          173,000,000
101 - Cross-financing under the ERDF (support t...          123,000,000
066 - Advanced support services for SMEs and gr...           52,000,000
121 - Preparation, implementation, monitoring a...           11,000,000
049 - Education infrastructure for tertiary edu...            3,000,000
065 - Research and innovation infrastructure, p...            3,000,000
064 - Research and innovation processes in SMEs...            2,000,000
056 - Investment in infrastructure, capacities ...            2,000,000
063 - Cluster support and business networks pri...            1,000,000
059 - Research and innovation infrastructures (...            1,000,000
061 - Research and innovation activities in pri...            1,000,000
071 - Development and promotion of enterprises ...            1,000,000
062 - Technology transfer and university-enterp...            1,000,000
Grouped by Thematic objective:                                      NaN
02 - Enhancing access to, and use and quality o...       11,420,000,000
MULTI - Multi-thematic objective:                         3,288,000,000
04 - Supporting the shift towards a low-carbon ...        1,612,000,000
10 - Investing in education, training and vocat...        1,155,000,000
EAFRD - ICT in rural funds:                                 922,000,000
07 - Promoting sustainable transport and removi...          857,000,000
11 - Enhancing institutional capacity of public...          621,000,000
03 - Enhancing the competitiveness of SMEs, of ...          565,000,000
09 - Promoting social inclusion, combating pove...          386,000,000
08 - Promoting sustainable and quality employme...          346,000,000
01 - Strengthening research, technological deve...          166,000,000
06 - Preserving and protecting the environment ...           64,000,000

[592 rows x 1 columns]

Population Density per square km 
-------------------------------------------------

In [15]:
popdensity = pd.read_csv('https://raw.githubusercontent.com/LaGuer/JupyterDataScienceWorkflow/master/dataset/population_density_per_square_km.csv')

In [16]:
popdensity.head()

,country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,11.90,12.00,12.20,12.30,12.50,12.70,12.90,13.10,13.30,...,110.0,110.0,110.0,109.0,109.0,109.0,109.0,108.0,108.0,108.0
1,Albania,46.10,47.00,48.00,49.20,50.50,51.80,53.30,54.70,56.30,...,66.3,65.6,64.9,64.2,63.6,62.9,62.3,61.7,61.1,60.5
2,Algeria,3.73,3.80,3.87,3.95,4.03,4.13,4.23,4.33,4.44,...,26.4,26.4,26.4,26.4,26.4,26.4,26.3,26.3,26.3,26.3
3,Andorra,13.20,14.20,15.40,16.70,18.10,19.60,21.30,22.90,24.70,...,137.0,137.0,136.0,136.0,136.0,135.0,135.0,135.0,135.0,134.0
4,Angola,3.65,3.74,3.83,3.92,4.01,4.10,4.19,4.27,4.36,...,125.0,127.0,128.0,130.0,131.0,133.0,134.0,136.0,137.0,139.0

In [19]:
popdensity_melt = pd.melt(popdensity,
                     id_vars=['1950', '2000'],
                     var_name='cd_country',
                     value_name='country')

In [20]:
popdensity_melt

          1950     2000 cd_country                 country
0       11.900    30.80    country             Afghanistan
1       46.100   114.00    country                 Albania
2        3.730    13.10    country                 Algeria
3       13.200   139.00    country                 Andorra
4        3.650    13.20    country                  Angola
5      105.000   190.00    country     Antigua and Barbuda
6        6.270    13.50    country               Argentina
7       47.500   108.00    country                 Armenia
8        1.060     2.48    country               Australia
9       84.200    97.90    country                 Austria
10      35.400    98.30    country              Azerbaijan
11       7.900    29.80    country                 Bahamas
12     152.000   874.00    country                 Bahrain
13     291.000  1010.00    country              Bangladesh
14     491.000   628.00    country                Barbados
15      38.200    49.00    country                 Belarus
16     285.000   340.00    country                 Belgium
17       3.020    10.80    country                  Belize
18      20.000    60.90    country                   Benin
19       4.640    15.00    country                  Bhutan
20       2.850     7.70    country                 Bolivia
21      52.200    73.90    country  Bosnia and Herzegovina
22       0.728     3.05    country                Botswana
23       6.460    21.00    country                  Brazil
24       9.110    63.20    country                  Brunei
25      66.800    73.70    country                Bulgaria
26      15.700    42.40    country            Burkina Faso
27      89.900   249.00    country                 Burundi
28      25.100    68.80    country                Cambodia
29       9.110    32.30    country                Cameroon
...        ...      ...        ...                     ...
29220    3.250    15.40       2100                    78.6
29221    1.380     3.03       2100                    3.69
29222   15.900    61.70       2100                     143
29223   17.100    21.60       2100                    32.7
29224  118.000   181.00       2100                     265
29225   18.600    89.40       2100                     208
29226   10.900    44.40       2100                     135
29227    8.640    38.60       2100                     343
29228   40.500   123.00       2100                      93
29229   29.100    58.60       2100                     259
29230   25.700    91.40       2100                     464
29231   65.600   136.00       2100                     220
29232  126.000   247.00       2100                     192
29233   23.200    62.40       2100                    85.7
29234   27.800    82.20       2100                     111
29235    2.580     9.61       2100                    17.7
29236  172.000   314.00       2100                     586
29237   25.800   120.00       2100                    1070
29238   64.400    84.30       2100                    48.7
29239    0.832    37.70       2100                     177
29240  209.000   244.00       2100                     335
29241   17.400    30.80       2100                    48.9
29242   12.800    19.00       2100                    18.5
29243   14.700    58.40       2100                    89.7
29244    3.910    15.20       2100                    55.3
29245    6.220    27.80       2100                    47.2
29246   80.000   259.00       2100                     347
29247    8.340    33.90       2100                     101
29248    3.110    14.20       2100                     127
29249    7.100    31.60       2100                     105

[29250 rows x 4 columns]

In [21]:
var_split = popdensity_melt['cd_country'].str.split('_')

In [22]:
status_values = var_split.str.get(0)
country_values = var_split.str.get(1)

In [23]:
popdensity_melt['status'] = status_values
popdensity_melt['country'] = country_values

In [24]:
popdensity_melt.head()

    1950   2000 cd_country  country   status
0  11.90   30.8    country      NaN  country
1  46.10  114.0    country      NaN  country
2   3.73   13.1    country      NaN  country
3  13.20  139.0    country      NaN  country
4   3.65   13.2    country      NaN  country

In [25]:
variable_split = popdensity_melt['cd_country'].str.split('_', expand=True)
variable_split

             0
0      country
1      country
2      country
3      country
4      country
5      country
6      country
7      country
8      country
9      country
10     country
11     country
12     country
13     country
14     country
15     country
16     country
17     country
18     country
19     country
20     country
21     country
22     country
23     country
24     country
25     country
26     country
27     country
28     country
29     country
...        ...
29220     2100
29221     2100
29222     2100
29223     2100
29224     2100
29225     2100
29226     2100
29227     2100
29228     2100
29229     2100
29230     2100
29231     2100
29232     2100
29233     2100
29234     2100
29235     2100
29236     2100
29237     2100
29238     2100
29239     2100
29240     2100
29241     2100
29242     2100
29243     2100
29244     2100
29245     2100
29246     2100
29247     2100
29248     2100
29249     2100

[29250 rows x 1 columns]

In [26]:
variable_split.columns = ['status1', 'country1']
variable_split.head()

ValueError: Length mismatch: Expected axis has 1 elements, new values have 2 elements

In [29]:
popdensity_clean = pd.concat([popdensity_melt, variable_split], axis=1)

In [30]:
popdensity_clean.head()

    1950   2000 cd_country  country   status        0
0  11.90   30.8    country      NaN  country  country
1  46.10  114.0    country      NaN  country  country
2   3.73   13.1    country      NaN  country  country
3  13.20  139.0    country      NaN  country  country
4   3.65   13.2    country      NaN  country  country

In [39]:
ictineu = pd.read_csv('https://raw.githubusercontent.com/LaGuer/JupyterDataScienceWorkflow/master/dataset/eu-ict-expenditures.csv')
ictineu.head()

          Grouped by Country:
Poland:          4,044,000,000
Italy:           3,376,000,000
Spain:           2,480,000,000
Hungary:         1,316,000,000
France:          1,292,000,000

In [40]:
ictineu.columns

Index(['Grouped by Country: '], dtype='object')

In [ ]:
ictineu_melt = pd.melt(ictineu,
                      id_vars=['id', 'year', 'month', 'element'],
                      var_name='day',
                      value_name='temp')

In [ ]:
ictineu_melt.head()

In [51]:
ictineu_tidy = ictineu_melt.pivot_table(
    index=['id', 'year', 'month', 'day'],
    columns='element',
    values='temp'
).reset_index()
ictineu_tidy

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1   d1   NaN   NaN
1        MX17004  2010      1  d10   NaN   NaN
2        MX17004  2010      1  d11   NaN   NaN
3        MX17004  2010      1  d12   NaN   NaN
4        MX17004  2010      1  d13   NaN   NaN
5        MX17004  2010      1  d14   NaN   NaN
6        MX17004  2010      1  d15   NaN   NaN
7        MX17004  2010      1  d16   NaN   NaN
8        MX17004  2010      1  d17   NaN   NaN
9        MX17004  2010      1  d18   NaN   NaN
10       MX17004  2010      1  d19   NaN   NaN
11       MX17004  2010      1   d2   NaN   NaN
12       MX17004  2010      1  d20   NaN   NaN
13       MX17004  2010      1  d21   NaN   NaN
14       MX17004  2010      1  d22   NaN   NaN
15       MX17004  2010      1  d23   NaN   NaN
16       MX17004  2010      1  d24   NaN   NaN
17       MX17004  2010      1  d25   NaN   NaN
18       MX17004  2010      1  d26   NaN   NaN
19       MX17004  2010      1  d27   NaN   NaN
20       MX17004  2010      1  d28   NaN   NaN
21       MX17004  2010      1  d29   NaN   NaN
22       MX17004  2010      1   d3   NaN   NaN
23       MX17004  2010      1  d30  27.8  14.5
24       MX17004  2010      1  d31   NaN   NaN
25       MX17004  2010      1   d4   NaN   NaN
26       MX17004  2010      1   d5   NaN   NaN
27       MX17004  2010      1   d6   NaN   NaN
28       MX17004  2010      1   d7   NaN   NaN
29       MX17004  2010      1   d8   NaN   NaN
..           ...   ...    ...  ...   ...   ...
311      MX17004  2010     12  d10   NaN   NaN
312      MX17004  2010     12  d11   NaN   NaN
313      MX17004  2010     12  d12   NaN   NaN
314      MX17004  2010     12  d13   NaN   NaN
315      MX17004  2010     12  d14   NaN   NaN
316      MX17004  2010     12  d15   NaN   NaN
317      MX17004  2010     12  d16   NaN   NaN
318      MX17004  2010     12  d17   NaN   NaN
319      MX17004  2010     12  d18   NaN   NaN
320      MX17004  2010     12  d19   NaN   NaN
321      MX17004  2010     12   d2   NaN   NaN
322      MX17004  2010     12  d20   NaN   NaN
323      MX17004  2010     12  d21   NaN   NaN
324      MX17004  2010     12  d22   NaN   NaN
325      MX17004  2010     12  d23   NaN   NaN
326      MX17004  2010     12  d24   NaN   NaN
327      MX17004  2010     12  d25   NaN   NaN
328      MX17004  2010     12  d26   NaN   NaN
329      MX17004  2010     12  d27   NaN   NaN
330      MX17004  2010     12  d28   NaN   NaN
331      MX17004  2010     12  d29   NaN   NaN
332      MX17004  2010     12   d3   NaN   NaN
333      MX17004  2010     12  d30   NaN   NaN
334      MX17004  2010     12  d31   NaN   NaN
335      MX17004  2010     12   d4   NaN   NaN
336      MX17004  2010     12   d5   NaN   NaN
337      MX17004  2010     12   d6  27.8  10.5
338      MX17004  2010     12   d7   NaN   NaN
339      MX17004  2010     12   d8   NaN   NaN
340      MX17004  2010     12   d9   NaN   NaN

[341 rows x 6 columns]

In [53]:
'd10'[1:]

'10'

In [54]:
pd.pivot_table?